table {
    width: 800px;
}

th {
    text-align: left;
}

table, th, td {
    border: 1px solid  #c4c5c5;
    border-collapse: collapse;
}

th, td {
    width: 200px;
}

th {
    background-color: #ddd;
}

td {
    text-align: center;
}