<html>
    <head>
        <title>
            Tokidex
        </title>
        <link rel="stylesheet" type="text/css" href="tokidex.css" />
        <!-- <script type="text/javascript" src="calculator.js" defer> </script> -->
    </head>
    <body> 
        <form>
            Name:<br>
            <input type="text" name="nameInput">
            <br>
            Trainer:<br>
            <input type="text" name="trainerInput">
            Height:<br>
            <input type="number" name="heightInput">
            Weight:<br>
            <input type="number" name="weightInput">
            Fire:<br>
            <input type="number" name="fireInput">
            Water:<br>
            <input type="number" name="waterInput">
            Electric:<br>
            <input type="number" name="electricInput">
            Fly:<br>
            <input type="number" name="flyInput">
            Fight:<br>
            <input type="number" name="fightInput">
            Ice:<br>
            <input type="number" name="iceInput">
        </form>
    </body>
</html>