<html>
    <head>
        <style>
            body {
                background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDqxk1FcVv7cB83p1Bcw5QmtMlm12BNLGAW6bjJAMMrHtdgCq6");
                background-size: 20cm;
            }
        </style>
        <title>
            Tokidex
        </title>
        <link rel="stylesheet" type="text/css" href="tokidex.css" />
        <!-- <script type="text/javascript" src="calculator.js" defer> </script> -->
    </head>
    <body> 
        <form id="form" action="/submit" method="post">
            Name:<br>
            <input type="text" name="nameInput" required>
            <br>
            Trainer:<br>
            <input type="text" name="trainerInput" required>
            <br>
            Height:<br>
            <input type="number" name="heightInput" min="0" required>
            <br>
            Weight:<br>
            <input type="number" name="weightInput" min="0" required>
            <br>
            Fire:<br>
            <input type="number" name="fireInput" min="0" max="100" required>
            <br>
            Water:<br>
            <input type="number" name="waterInput" min="0" max="100" required>
            <br>
            Electric:<br>
            <input type="number" name="electricInput" min="0" max="100" required>
            <br>
            Fly:<br>
            <input type="number" name="flyInput" min="0" max="100" required>
            <br>
            Fight:<br>
            <input type="number" name="fightInput" min="0" max="100" required>
            <br>
            Ice:<br>
            <input type="number" name="iceInput" min="0" max="100" required>
            <br>
            <button id="submit">Report Capture</button>
            <br>
        </form>
        <button id="home"><a href="../">Homepage</a></button>
    </body>
</html>