<html>
    <head>
        <style>
            body {
                background-image: url("https://attackofthefanboy.com/wp-content/uploads/2016/07/Pokemon-Go-How-to-heal-and-revive.jpg");
            }
        </style>
    </head>
    <h1>Deleted</h1>
    <button id="home"><a href="../">Homepage</a></button>
</html>