<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/tables.css" />
        <style>
            body {
                background-image: url("https://pypeline.co/wp-content/uploads/2018/09/Psyduck-and-the-Oregon-Ducks.jpg");
                background-size: 40cm;
            }
        </style>
    </head>
    <div id="sorry">
        <p id="sorrytext">This feature only available for trainers with at least 8 badges</p>
    </div>
    <button id="home"><a href="../">Homepage</a></button>
</html>