<html>
    <head>
        <style>
            body {
                background-image: url("https://pypeline.co/wp-content/uploads/2018/09/Psyduck-and-the-Oregon-Ducks.jpg");
                background-size: 15cm;
            }
        </style>
    </head>
    <div id="sorry">
    <h1>Sorry</h1>
    </div>
    <div id="sorrytext">
        <p>I ran out of time before getting to this feature :(</p>
    </div>
    <button id="home"><a href="../">Homepage</a></button>
</html>