<html>
    <head>
        <title>
            Coursys - Formula Tester
        </title>
        <link rel="stylesheet" type="text/css" href="viewdex.css" />
        <!-- <script type="text/javascript" src="calculator.js" defer> </script> -->
    </head>
    <body> 
        <table>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Name</td>
                    <input id="nameInput" type="text"> /<br>
                </td>
            </tr>
            <tr>
                <td>Trainer</td>
                    <input id="trainerInput" type="text"> /<br>
                </td>
            </tr>
            <tr>
                <td>height</td>
                    <input id="heightInput" type="number"> /<br>
                </td>
            </tr>        
            <tr>
            <td>Weight</td>
                    <input id="weightInput" type="number"> /<br>
            </td>
            </tr>            
            <tr>
                <td>Fire</td>
                    <input id="fireInput" type="number"> /<br>
                </td>
            </tr>
    
            <tr>
                <td>Water</td>
                    <input id="waterInput" type="number"> /<br>
                </td>
            </tr>

            <tr>
                <td>Electric</td>
                    <input id="electricInput" type="number"> /<br>
                </td>
            </tr>

            <tr>
                <td>Fly</td>
                    <input id="flyInput" type="number"> /<br>
                </td>
            </tr>
            
            <tr>
                <td>Fight</td>
                    <input id="fightInput" type="number"> /<br>
                </td>
            </tr>
            
            <tr>
                <td>Ice</td>
                    <input id="iceInput" type="number"> /<br>
                </td>
            </tr>
        </table>
    </body>
</html>