<html>
    <head>
        <title>
            Coursys - Formula Tester
        </title>
        <link rel="stylesheet" type="text/css" href="calculator.css" />
        <script type="text/javascript" src="calculator.js" defer> </script>
    </head>
    <body> 
        <div id="outerBlack">
            <br>
            <div id="container">
                <div id="nightButton" align="right">
                    <button id="nightMode" type="button">NIGHT MODE</button>
                </div>
                <br>
                <div id="header">
                    <h1>
                        Grade Calculator
                    </h1>
                </div>
                <div id="main"> 
                    <h3>
                        <br>Activities
                    </h3>
                    <div id="description">
                        Give grades to the numeric activities:
                    </div>
                    <div id="bonus">
                        <input id="bonusCheck" type="checkbox" name="vehicle" value="Bike"> Disallow bonus marks<br>
                    </div>    
                    <table>
                            <tr>
                                <th>Attribute</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <td>Name</td>
                                    <input id="nameInput" type="text"> /<br>
                                </td>
                            </tr>
                
                            <tr>
                                <td>Trainer</td>
                                    <input id="trainerInput" type="text"> /<br>
                                </td>
                            </tr>
                
                            <tr>
                                <td>height</td>
                                    <input id="heightInput" type="number"> /<br>
                                </td>
                            </tr>
                
                            <tr>
                                <td>Weight</td>
                                    <input id="weightInput" type="number"> /<br>
                                </td>
                            </tr>
                
                            <tr>
                                <td>Fire</td>
                                    <input id="fireInput" type="number"> /<br>
                                </td>
                            </tr>
                
                            <tr>
                                <td>Water</td>
                                    <input id="waterInput" type="number"> /<br>
                                </td>
                            </tr>
                
                            <tr>
                                <td>Electric</td>
                                    <input id="electricInput" type="number"> /<br>
                                </td>
                            </tr>
                
                            <tr>
                                <td>Fly</td>
                                    <input id="flyInput" type="number"> /<br>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>Fight</td>
                                    <input id="fightInput" type="number"> /<br>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>Ice</td>
                                    <input id="iceInput" type="number"> /<br>
                                </td>
                            </tr>
                        </table>
                    <h3>Result</h3>
                    <p id="finalRes"></p>
                    <div id="buttons" align="right">
                        <button id="weighted" type="button">WEIGHTED</button>
                        <button id="mean" type="button">MEAN</button>
                    </div>
                </div>
                <br><br>
            </div>
            <br>
            <br>
        </div>
    </body>
</html>