<html>
    <head>
        <title>
            Tokidex
        </title>
        <link rel="stylesheet" type="text/css" href="tokidex.css" />
        <!-- <script type="text/javascript" src="calculator.js" defer> </script> -->
    </head>
    <body> 

        <table>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Name</td>
                <td><input id="nameInput" type="text"></td>
            </tr>
            <tr>
                <td>Trainer</td>
                <td><input id="trainerInput" type="text"></td>
            </tr>
            <tr>
                <td>height</td>
                <td><input id="heightInput" type="number"></td>
            </tr>        
            <tr>
                <td>Weight</td>
                <td><input id="weightInput" type="number"></td>
            </tr>            
            <tr>
                <td>Fire</td>
                <td><input id="fireInput" type="number"></td>
            </tr>
    
            <tr>
                <td>Water</td>
                <td><input id="waterInput" type="number"></td>
            </tr>

            <tr>
                <td>Electric</td>
                <td><input id="electricInput" type="number"></td>
            </tr>

            <tr>
                <td>Fly</td>
                <td><input id="flyInput" type="number"></td>
            </tr>
            
            <tr>
                <td>Fight</td>
                <td><input id="fightInput" type="number"></td>
            </tr>
            
            <tr>
                <td>Ice</td>
                <td><input id="iceInput" type="number"></td>
            </tr>
        </table>
    </body>
</html>