<html>
<head>
     <link rel="stylesheet" type="text/css" href="/stylesheets/tokidex.css" />

<style> 
body {
  background-image: url("http://2.bp.blogspot.com/-vUxhVa-NKEw/UBMTBDBFX8I/AAAAAAAACZk/T5GYfjFHJ0Q/s1600/MT+Bunnies.JPG");
  background-color: #cccccc;
  background-size: 20cm;
}
</style>
</head>
<body>
  <div id="header">
    <h1>
      Tokidex
    </h1>
  </div>
  <div id="buttons">
  <!-- <p id="links"><a id= "viewAll" href="https://www.w3schools.com/html/">View all captured Tokimon</a><br> -->
  <!-- <a id="report" href="https://www.w3schools.com/html/">Report a new Tokimon capture</a></p> -->
    <button id="view"><a href="viewAll">View All Captured Tokimon</a></button>
    <button id="add"><a href="addform">Add Tokimon to Tokidex</a></button>
    <button id="remove" onclick="window.location.href = 'https://w3docs.com';">Edit Tokidex</button>
  </div>
</body>
</html>