<html>
<head>
     <link rel="stylesheet" type="text/css" href="/stylesheets/tokidex.css" />

<style> 
body {
  background-image: url("https://res.cloudinary.com/teepublic/image/private/s--TUCG4N_9--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1467828754/production/designs/572889_1.jpg"), url("https://cdn.instructables.com/FR5/1K64/GKS0T0F0/FR51K64GKS0T0F0.LARGE.gif?auto=webp&&frame=1&fit=bounds");
  background-color: #cccccc;
  background-size: 20cm;
}
</style>
</head>
<body>
  <div id="header">
    <h1>
      Tokidex
    </h1>
  </div>
  <div id="buttons">
  <!-- <p id="links"><a id= "viewAll" href="https://www.w3schools.com/html/">View all captured Tokimon</a><br> -->
  <!-- <a id="report" href="https://www.w3schools.com/html/">Report a new Tokimon capture</a></p> -->
    <button id="view" onclick="window.location.href = 'tokidexViewAll.ejs';">View All Captured Tokimon</button>
    <button id="record" onclick="window.location.href = 'https://w3docs.com';">Record New Capture</button>
    <button id="remove" onclick="window.location.href = 'https://w3docs.com';">Edit Tokidex</button>
  </div>
</body>
</html>